
@font-face {
    font-family: "阿里妈妈东方大楷 Regular";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/UqDgIpGepGNS/LTCqAkh8yEL4.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/UqDgIpGepGNS/oYpAgCRopZJc.woff") format("woff");
    font-display: swap;
}